<form method="post"
      data-newAction="{{ path('new_exercise_action', {id_course: course.id}) }}"
        {% if exercise is defined %}
            action="{{ path('edit_exercise_action', {id_course: course.id, id:exercise.id}) }}"
        {% else %}
            action="{{ path('new_exercise_action', {id_course: course.id}) }}"
        {% endif %}
      enctype="multipart/form-data" class="card my-2{{ hide is defined ? ' d-none' }}">
    <div class="card-header">
        Exercice #<span class="number">{{ i + 1 }}</span>
    </div>
    <div class="card-body">
        <div>
            <div class="form">
                <div class="form-group">
                    <label for="content{{ i }}">Énoncé</label>
                    <textarea class="form-control summernote"
                              placeholder="Rédigez le contenu de l'énoncé pour cet exercice"
                              id="content{{ i }}" name="content"
                              required>{{ exercise is defined ? exercise.content }}</textarea>
                </div>
                <div class="form-group">
                    <label for="correction{{ i }}">Correction</label>
                    <textarea class="form-control summernote"
                              placeholder="Rédigez le contenu de la correction pour cet exercice"
                              id="correction{{ i }}" name="correction"
                              required>{{ exercise is defined ? exercise.correction }}</textarea>
                </div>
            </div> {# end of col #}
        </div> {# end of row #}
    </div> {# card body #}
    <div class="card-footer text-right">
        <button type="submit" class="btn btn-success">
            <i data-feather="save"></i>
            Enregistrer l'exercice
        </button>
        {% if exercise is defined %}
            <a href="{{ path('delete_exercise_action', {id_course:course.id, id: exercise.id}) }}"
               class="btn btn-danger delete">
                <i data-feather="x"></i>
                Supprimer l'exercice
            </a>
        {% endif %}
    </div>
</form>