{% extends 'student/desktop/layout.html.twig' %}

{% block title %}Mes documents / Mon bureau{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('desktop') }}">Mon bureau</a></li>
            <li class="breadcrumb-item active">Mes documents</li>
        </ol>
    </nav>
{% endblock %}

{% block desktop_content %}

    <div class="text-right my-3">
        <a class="btn btn-info" href="{{ path('desktop_document_form') }}">
            <i data-feather="upload"></i>
            Gérer mes documents
        </a>
    </div>

    {% if member.desktopDocuments|length > 0 %}

        <div class="card-columns">
            {% for document in  member.desktopDocuments %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ document.name }}</h5>
                    </div>

                    {% if document.file %}
                        <a href="{{ asset(document.file) }}" target="_blank"
                           class="card-img-top text-center bg-light py-5 d-block">
                            {% set documentIcon = "" %}
                            {% if document.fileExtension in ["pdf", "txt", "odt", "md", "rtf", "csv"] %}
                                {% set documentIcon = "file-text" %}
                            {% elseif document.fileExtension in ["png", "svg", "gif", "jpeg", "jpg"] %}
                                {% set documentIcon = "image" %}
                            {% endif %}
                            <i data-feather="{{ documentIcon }}"
                               class="no-width" width="100" height="100" stroke-width="1"></i>
                            <br/>Consulter le document
                        </a>
                    {% else %}
                        <div class="card-img-top text-center bg-light py-5">
                            <i data-feather="frown"
                               class="no-width" width="100" height="100" stroke-width="1"></i>
                            <br/>Impossible de récupérer ce document
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <i data-feather="info"></i>
            Vous n'avez enregistré aucun document pour le moment
        </div>
    {% endif %}
{% endblock %}