{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des sujets / Espace admnistrateur{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Espace admnistrateur</a></li>
            <li class="breadcrumb-item">Niveaux</li>
        </ol>
    </nav>
{% endblock %}

{% block admin_content %}

<p class="text-right my-1">
    <a href="{{ path('new_level_form') }}" class="btn btn-success">
        <i data-feather="plus"></i>
        Ajouter un niveau
    </a>
</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Intitulé</th>
        <th scope="col">Matières</th>
        <th scope="col" class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for level in levels %}
        <tr>
            <th scope="row" class="align-middle">{{ level.id }}</th>
            <td class="align-middle">
                {{ level.name }}
            </td>
            <td>
                {% for subject in level.subjects %}
                <span class="badge badge-secondary">{{ subject.name }}</span>
                {% endfor %}
            </td>
            <td class="text-right">
                <a href="{{ path('edit_level_form', {'id': level.id}) }}" type="button" class="btn btn-secondary">
                    <i data-feather="edit"></i>
                </a>
                <a href="{{ path('delete_level_action', {'id': level.id}) }}" type="button" class="btn btn-danger"
                   data-alert='Êtes-vous sûr de vouloir supprimer le niveau "{{ level.name }}" ? Cela engendrera la suppression de {{ level.courses|length }} cours associé{{ level.courses|length > 1 ? "s" }}'>
                    <i data-feather="x"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}